
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px; */
  --breakpoint-xl: 1290px;
  --color-primary: #050709;
  --color-secondary: #8750F7;
}


@layer utilities {
  .container {
    margin: auto;
    width: 100%;
    padding: 0px 5px;
  }
}

body{
  background-color:#140C1C;
}
section h1{
  font-size: 203px;
  color: white;
  letter-spacing: -8.25px;
}
h4{
  color: #8750F7;
}